@{
    ViewData["Title"] = "Home Page";
}
<!-- Start slider area -->
<div id="mu-slider">
	<div class="mu-slide">
		<!-- Start single slide  -->
		<div class="mu-single-slide">
			<img src="~/images/slider-img-1.jpg" alt="slider img">
			<div class="mu-single-slide-content-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-single-slide-content">
								<h1>Abra sua empresa grátis! </h1>
								<p>Temos as melhores equipes para atender as suas necessidades contabil.</p>
								<a class="mu-primary-btn" href="#">Saiba mais  <span class="fa fa-long-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End single slide  -->
		<!-- Start single slide  -->
		<div class="mu-single-slide">
			<img src="~/images/slider-img-2.jpg" alt="slider img">
			<div class="mu-single-slide-content-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-single-slide-content">
								<h1>Contabilidade simples e preço justo!</h1>
								<p>Temos planos a partir de R$ 69,90 para prestadores de serviços e outros.</p>
								<a class="mu-primary-btn" href="#">Saiba mais  <span class="fa fa-long-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mu-single-slide">
			<img src="~/images/slider-img-12.jpg" alt="slider img">
			<div class="mu-single-slide-content-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-single-slide-content">
								<h1>Transparência</h1>
								<h4><p>A responsabilidade do contador na contabilidade online é a mesma que na contabilidade tradicional!</p></h4>
								<a class="mu-primary-btn" href="#">Saiba mais  <span class="fa fa-long-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<main>
	<!-- Start Pricing Table -->
	<section id="mu-pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-pricing-area">
						<!-- Title -->
						<div class="row">
							<div class="col-md-12">
								<div class="mu-title col-lg-12">
									<h2>A sua contabilidade economica</h2>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-md-12">
								<div class="mu-pricing-content">
									<ul class="mu-pricing-table">
										<li>
											<div class="mu-pricing-single">
												<div class="mu-pricing-single-icon">
													<span class="fa fa-shopping-cart"></span>
												</div>
												<div class="mu-pricing-single-title">
													<h3>Abrir Empresa</h3>
												</div>
												<div class="mu-pricing-single-content">
													<ul>
														<li>Abertura de Empresa</li>
														<li>COMPLETA.</li>
														<li>Abertura de empresa é gratuita com a</li>
														<li>contratação de alguns de nossos planos.</li>
													</ul>
												</div>
												<div class="mu-single-pricebox">
													<h4>Gratis!<span></span></h4>
												</div>
												<a class="mu-buy-now-btn" href="#">Saiba mais</a>
											</div>
										</li>
										<li>
											<div class="mu-pricing-single">
												<div class="mu-pricing-single-icon">
													<span class="fa fa-shopping-cart"></span>
												</div>
												<div class="mu-pricing-single-title">
													<h3>Serviços</h3>
												</div>
												<div class="mu-pricing-single-content">
													<ul>
														<li>Prestadores de serviços, médicos, </li>
														<li>consultores,construtor civil, advogados e profissional independente e outros.</li>
														<li>A partir de.</li>
													</ul>
												</div>
												<div class="mu-single-pricebox">
													<h4>R$ 69,90<span>/mês</span></h4>
												</div>
												<a class="mu-buy-now-btn" href="#">Saiba mais</a>
											</div>
										</li>
										<li>
											<div class="mu-pricing-single">
												<div class="mu-pricing-single-icon">
													<span class="fa fa-shopping-cart"></span>
												</div>
												<div class="mu-pricing-single-title">
													<h3>Comercio</h3>
												</div>
												<div class="mu-pricing-single-content">
													<ul>
														<li>Comércio de pequeno</li>
														<li>porte. Também poderá</li>
														<li>utilizar da contalidade</li>
														<li>online e ter redução de custo.</li>
													</ul>
												</div>
												<div class="mu-single-pricebox">
													<h4>R$ 99,00<span>/mês</span></h4>
												</div>
												<a class="mu-buy-now-btn" href="#">Saiba mais</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Pricing Table -->
	<!-- Start Services -->
	<section id="mu-service">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-service-area">
						<!-- Title -->
						<div class="row">
							<div class="col-md-12">
								<div class="mu-title">
									<h2>Nossos serviços disponíveis</h2>
								</div>
							</div>
						</div>
						<!-- Start Service Content -->
						<div class="row">
							<div class="col-md-12">
								<div class="mu-service-content">
									<div class="row">
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Emissão de Nf-e</h3>
													<p>Cliente apenas informar os dados principais para emissão da nota fiscal. Ela será gerada enviada diretamente para o seu email e outra para o contador responsável e informada aos órgãos do fisco.</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Arquivos</h3>
													<p>Toda sua documentação será armazenada em nossos servidores. Com isto o cliente terá acesso rápido e prático a qualquer documento, basta clicar!</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Relatórios</h3>
													<p>Na plataforma Contfy você poderá verificar e controlar suas receitas e tributação de modo simples e claro.</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Solicitações</h3>
													<p>Caso precise de algum documento na qual se faça necessário. Em apenas alguns clicks o contador responsável irá atendê-lo.</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Suporte</h3>
													<p>Temos diversos canais de contatos caso as questões não sejam resolvidas pela plataforma Contfy.</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
										<!-- Start single service -->
										<div class="col-md-4">
											<div class="mu-single-service">
												<div class="mu-single-service-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
												<div class="mu-single-service-content">
													<h3>Customização</h3>
													<p>Caso tenha uma oportunidade de negócio e nossos serviços não o atenda. Fale conosco iremos avaliar a viabilização.</p>
												</div>
											</div>
										</div>
										<!-- End single service -->
									</div>
								</div>
							</div>
						</div>
						<!-- End Service Content -->
					</div>
				</div>
			</div>
		</div>
	</section>


</main>

<!-- End main content -->
